<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regestration</title>
</head>
<body >
    <form action="register" method="POST">
        {% csrf_token %}
        First Name: <input type="text" name="first_name" placeholder="Enter First Name"><br>
        
        Last Name: <input type="text" name="last_name" placeholder="Enter Last Name"><br>
        
        username : <input type="text" name="username" placeholder="Enter User Name"><br>
        
        Email: <input type="email" name="email" placeholder="Enter Email"><br>

        Password: <input type="password" name="password1" placeholder="Enter your Password"><br>
        
        Confirm Password: <input type="password" name="password2" placeholder="Confirm Password"><br>

        <input type="submit" value="submt">
        
        

    </form>
    <div>
        {%for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    
</body>
</html>